

@font-face {
  font-family: "hacked";
	src: url(/fonts/hacked.ttf);
}

@font-face {
  font-family: "cardinal";
	src: url(/fonts/cardinal.ttf);
}

@font-face {
  font-family: "unifraktur";
	src: url(/fonts/unifraktur.ttf);
}

@font-face {
  font-family: "rosecaps";
	src: url(/fonts/rosecaps.ttf);
}

@font-face {
  font-family: "plante";
	src: url(/fonts/plante.ttf);
}


@font-face {
  font-family: "silvus";
	src: url(/fonts/silvus.ttf);
}

@font-face {
  font-family: "dos";
	src: url(/fonts/dos.ttf);
}

@font-face {
  font-family: "nova";
	src: url(/fonts/NovaMono-Regular.ttf);
}

@font-face {
  font-family: "pixel";
	src: url(/fonts/pixel.ttf);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Base styling */
body {
    font-family: "cardinal", serif; /* Consider using a cyberpunk-style font */
    display: flex;
    flex-direction: column;
    background-image: url("https://sadhost.neocities.org/images/tiles/bgif023.gif");
    background-repeat: repeat;
    color: #8f9779; /* Light text color for contrast */
    margin: 0 auto;
    padding: 0 15px; /* Adds 15px padding to the left and right */
    max-width: 500px;
}

/* linx */

a {
    color: yellow; /* Neon green for links */
    text-decoration: none;
}

a:hover {
    color: cyan; /* Bright pink for hover state */
    text-decoration: underline;
    transition: all 1s;
}

/* Header styling */
header {
    background-color: #738276;
    padding: 20px 0;
    text-align: center;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensures it stays on top */
}

header h1 {
    font-family: "silvus", serif;
    font-variant: small-caps;
    font-size: 200%;
    color: #8f9779; /* Bright pink for main heading */
    background-color: #4d5d53;
    margin: 0;
}

header p {
    color: #8f9779; /* Neon green for subtext */
    font-family: "silvus", serif;
    background-color: #4d5d53;
}

/* Main content styling */
main {
    padding: 20px;
    background-color: #4d5d53;
    border: 1px solid #738276;
    flex: 1;
}

/* Scrollable Main Section */
main {
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
    padding-bottom: 60px; /* Adjust based on footer height to avoid overlap */
}

main h2 {
    font-family: "silvus", serif; /* Consider using a cyberpunk-style font */
    font-variant: small-caps;
    color: #8f9779; /* Cyan for secondary headings */
    text-align: center;
}

/* Link list styling */
.link-list details {
    font-family: "pixel";
    background-color: #1c1c1c;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
}

.link-list summary {
    color: magenta; /* Bright orange for summaries */
    font-weight: bold;
    cursor: pointer;
}

.link-list summary:hover {
    color: yellow; /* Bright orange for summaries */
    transition: all 1s;
}

.link-list ul {
    font-family: "pixel";
    list-style-type: square;
}

.link-list li {
    padding: 5px 0;
}

/* Table styling */

table {
  border: none;
}

table td, table th {
  border: none;
  padding: 8px;
}

/* Footer styling */
footer {
    background-color: #738276;
    color: #c0c0c0;
    text-align: center;
    padding: 20px 0;
}

/* Sticky Footer */
footer {
    bottom: 0; /* Stick to the bottom */
    z-index: 1000; /* Ensures it stays on top */
}

.centered-image img {
    max-width: 100px;
    max-height: 100px;
    height: auto; /* This ensures the image maintains its aspect ratio */
    display: block; /* Aligns the image properly within the div */
    margin: 0 auto; /* Centers the image */
}

#typewriter {
    width: 480px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    overflow: hidden; /* Hide the overflow text */
    white-space: pre-wrap; /* To maintain spaces and line breaks */
    border-right: 2px solid; /* Simulates the caret */
    font-family: 'pixel'; /* Typewriter font */
    margin: auto; /* Center the div if needed */
    /* Add additional styling as needed */
}

/* Optional: Caret Blinking Effect */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
#typewriter {
    animation: blink-caret 1s step-end infinite;
}
