@font-face {
  font-family: "hacked";
	src: url(/fonts/hacked.ttf);
}
@font-face {
  font-family: "silvus";
	src: url(/fonts/silvus.ttf);
}

@font-face {
  font-family: "dos";
	src: url(/fonts/dos.ttf);
}

@font-face {
  font-family: "nova";
	src: url(/fonts/NovaMono-Regular.ttf);
}

@font-face {
  font-family: "pixel";
	src: url(/fonts/pixel.ttf);
}

@font-face {
  font-family: "cardinal";
	src: url(/fonts/cardinal.ttf);
}

/* Base styling */
body {
    font-family: 'cardinal', cursive; /* A pixel art style font */
    background-color: #d8e2dc; /* Light sage green background */
    color: #1b4332; /* Darker green for text */
    margin: 0;
    padding: 0 15px;
    max-width: 500px;
    margin: 0 auto;
}

a {
    color: #40916c; /* Medium sage green for links */
    text-decoration: none;
}

a:hover {
    color: #2d6a4f; /* Dark sage green for hover state */
    text-decoration: underline;
}

/* Header styling */
header {
    background-color: #b7c4bc; /* Slightly darker green for header */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #1b4332; /* Dark green for main heading */
    margin: 0;
}

header p {
    color: #40916c; /* Medium sage green for subtext */
}

/* Main content styling */
main {
    padding: 20px;
}

h2 {
    color: #1b4332; /* Dark green for secondary headings */
}

/* Link list styling */
.link-list details {
    background-color: #cbd5cd; /* Soft green for details background */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a8b9a5;
}

.link-list summary {
    color: #40916c; /* Medium sage green for summaries */
    font-weight: bold;
    cursor: pointer;
}

.link-list ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.link-list li {
    display: flex; /* Flexbox to center content */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    padding: 10px; /* Add padding */
    height: 50px; /* Fixed height */
    width: 50px; /* Fixed width */
}



/* Footer styling */
footer {
    background-color: #b7c4bc; /* Matching header background color */
    color: #1b4332; /* Text color */
    text-align: center;
    padding: 20px 0;
}

.centered-image img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive images */
@media screen and (max-width: 650px) {
    .centered-image img {
        width: 100%;
    }
}
